@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "spooky";
  src: url("../src/components/font/SpookyGhostPersonalUse-8My20.ttf");
}

@font-face {
  font-family: "rmmono";
  src: url("../src/components/font/RMMono-Regular.otf");
}

.about {
  background: url("./Images/bg.png");
  pointer-events: none;
}
